.yui3-colorpickerhsv .color-control {
    background: url(../../img/color-control-overlay.png);
}

.color-control .color-selector {
    background: url(../../img/color-selector.png);
}

.yui3-colorpickerhsv .hue-control {
    background: url(../../img/hue-control-overlay.png);
}

.hue-control .hue-selector {
    background: url(../../img/hue-selector.png);
}